<div class="container">
    <h2>Registration Form</h2>
    <form #form="ngForm" (ngSubmit) = "signup()">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" id="name" name="name" [(ngModel)]="userRegistration.name" class="form-control" required #name="ngModel">
        <div *ngIf="name.invalid && (name.dirty || name.touched)" class="text-danger alert">
            <div *ngIf="name.errors?.['required']">Name is required.</div>
        </div>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" [(ngModel)]="userRegistration.email" class="form-control" required #email="ngModel">
        <div *ngIf="email.invalid && (email.dirty || email.touched)" class="text-danger alert">
            <div *ngIf="email.errors?.['required']">Email is required.</div>
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" [(ngModel)]="userRegistration.password" class="form-control" required #password="ngModel">
        <div *ngIf="password.invalid && (password.dirty || password.touched)" class="text-danger alert">
            <div *ngIf="password.errors?.['required']">Password is required.</div>
        </div>
      </div>
      <button type="submit" class="btn btn-outline-success me-3 mt-3" [disabled]="form.invalid">Register</button>
      <button type="reset" class="btn btn-outline-danger ms-3 mt-3" [disabled]="form.invalid">Reset</button>
    </form>
</div>